
.techband-container__waves{
    position: absolute;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    top:40vh;

}


.wave-topwaves__container{
    position: relative;


    .wave-second-wave{
        opacity: .5;
        z-index: 20;
        position: absolute;
        top: 0;
        left: 0;
    }

    .wave-third-wave{
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
    }
}

.block-wave__container{
    width: 100%;
    height: 20vh;
    background-color:$grey;
    content: "";
    margin-top: -1rem;
}   

.wave-botwaves__container{
    position: relative;
    width: 100%;
    .wave-fourth-wave{
        
        position: absolute;
        bottom: -40vh;
        left: 0;
        z-index: 20;

        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
  
    }

    .wave-fifth-wave{
        position: absolute;
        bottom: -42vh;
        left: 0;
        opacity: .5;
        z-index: 10;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .wave-sixth-wave{
        position: absolute;
        bottom: -38vh;
        left: 0;
        opacity: .2;
        z-index: 10;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@media screen and (max-width:1350px) {
 
    .wave-botwaves__container{
        position: relative;
        width: 100%;
        .wave-fourth-wave{
            bottom: -35vh;
        }

        .wave-fifth-wave{
            bottom: -38vh;

        }
    }

    .block-wave__container{
        height: 25vh;
        margin-bottom: -1rem;
    }
}




@media screen and (min-width:500px) and (max-width:600px) {
    .techband-container__waves{
        margin-top: 10vh;
        width: 100vw;
    }
    
    .block-wave__container{
    }
    .wave-botwaves__container{
        .wave-fourth-wave{
            bottom: -7.8rem;
        }

        .wave-fifth-wave{
            bottom: -7.8rem;

        }

        .wave-sixth-wave{
            bottom: -7.8rem;

        }
    }
}



@media screen and (min-width:600px) and (max-width:750px) {
    .techband-container__waves{
        margin-top: 5rem;
    }
    .wave-botwaves__container{
   

        .wave-fourth-wave{
            bottom: -9rem;
        }

        .wave-fifth-wave{
            bottom: -10rem;

        }

        .wave-sixth-wave{
            bottom: -9rem;

        }
    }
}


@media screen and (min-width:750px) and (max-width:950px) {
    .techband-container__waves{
        margin-top: 5rem;
    }
    .wave-botwaves__container{
   

        .wave-fourth-wave{
            bottom: -11.4rem;
        }

        .wave-fifth-wave{
            bottom: -12rem;

        }

        .wave-sixth-wave{
            bottom: -13rem;

        }
    }
}

@media screen and (min-width:1150px) and (max-width:1450px){

    .techband-container__waves{
        margin-top: 8rem;
    }
    .wave-botwaves__container{
   

        .wave-fourth-wave{
            bottom: -17rem;
        }

        .wave-fifth-wave{
            bottom: -18rem;

        }

        .wave-sixth-wave{
            bottom: -19rem;

        }
    }
}

@media screen and (min-width:1450px) and (max-width:1600px){
    .techband-container__waves{
        margin-top: 4rem;
    }
    .wave-botwaves__container{
   

        .wave-fourth-wave{
            bottom: -20rem;
        }

        .wave-fifth-wave{
            bottom: -21rem;

        }

        .wave-sixth-wave{
            bottom: -22rem;

        }
    }
}


@media screen and (max-width:500px) {
 
    .block-wave__container{
    }

    .techband-container__waves{
        margin-top: 10rem;
    }
    .wave-botwaves__container{
        .wave-fourth-wave{
            bottom: -11vh;
        }

        .wave-fifth-wave{
            bottom: -12vh;

        }

        .wave-sixth-wave{
            bottom: -13vh;

        }
    }
}

@media screen and (min-width:950px) and (max-width:1150px) {
    .wave-botwaves__container{
        .wave-fourth-wave{
            bottom: -14rem;
        }

        .wave-fifth-wave{
            bottom: -15rem;

        }

        .wave-sixth-wave{
            bottom: -16rem;

        }
    }
}



@media screen and (min-width:1600px) {
    .techband-container__waves{
        .wave-botwaves__container{
            .wave-fourth-wave{
                bottom: -30vh;
            }
    
            .wave-fifth-wave{
                bottom: -47vh;
    
            }
    
            .wave-sixth-wave{
                bottom: -48vh;
    
            }
        }
    }
}

@media screen and (min-width:1850px) {
    .techband-container__waves{
        .wave-botwaves__container{
            .wave-fourth-wave{
                bottom: -43.5vh;
            }
    
            .wave-fifth-wave{
                bottom: -45vh;
    
            }
    
            .wave-sixth-wave{
                bottom: -46vh;
    
            }
        }
    }
}