
.techband-container__waves{
    position: absolute;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    top:40vh;

}


.wave-topwaves__container{
    position: relative;


    .wave-second-wave{
        opacity: .5;
        z-index: 20;
        position: absolute;
        top: 0;
        left: 0;
    }

    .wave-third-wave{
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
    }
}

.block-wave__container{
    width: 100%;
    height: 20vh;
    background-color:$grey;
    content: "";
    margin-top: -1rem;
}   

.wave-botwaves__container{
    position: relative;
    width: 100%;
    .wave-fourth-wave{
        
        position: absolute;
        bottom: -40vh;
        left: 0;
        z-index: 20;

        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
  
    }

    .wave-fifth-wave{
        position: absolute;
        bottom: -42vh;
        left: 0;
        opacity: .5;
        z-index: 10;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .wave-sixth-wave{
        position: absolute;
        bottom: -38vh;
        left: 0;
        opacity: .2;
        z-index: 10;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}


