


@media screen and (max-width:1000px) {
    .button-hamburguer__container{
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        height: 100px;
        width: 100px;
        row-gap: .5rem;
        z-index: 1000;
        background-color: transparent !important;
        .button-hamburguer__container__bar{
            content: "";
            width: 40px;
            height: 6px;
            background-color: $light-grey;
            border-radius: .5rem;
            transition: all .5s ease-in-out;
        }
    
    
        .barra_equis_derecha{
            position: absolute;
            transform: rotate(135deg);
            top: 2rem;
        }   
        .barra_equis_izquierda{
            position: absolute;
            transform: rotate(45deg);
            top: 2rem;
    
        }
    
        .barra_equis_delete{
            opacity: 0;
        }
    
        
    }
    
}