.projects-view-container{
    .animate-text{
        margin-bottom: 1rem;
    }
}

.card-project__container{
    min-width: 23.5rem !important;
    max-width: 23.5rem !important;
    height: auto;
    z-index: 1000;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: .8;
    position: relative;

    .card-project__view{
        width: 98%;
        min-height: 15rem;
        max-height: 15rem;
        border-radius:1rem 1rem 0 0;
        box-sizing: border-box;
        z-index: 1000;
        
    }

    .projects-view-container__tech{
        width: 98%;
        background-color: #fff;
        bottom: 30%;
        z-index: 1000;
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content:space-around;
    }
    .card-project__demo{
        background-color: #00ADB5;
        font-size: 16px;
        border: none;
        
    }



    .card-project__text{
        display: flex;
        flex-direction: column;
        align-items: left;
        height: 8rem;
        padding-top: 1rem;
        width: 98%;
        word-break: break-all;
        word-wrap: break-word;
        background-color: white;
        z-index: 10;
        box-sizing: border-box;
        margin-top: -.1rem;

        h2{
            padding-top: .5rem;
            text-align: center;
            margin-bottom: .5rem;
        }
        p{
            text-align: left;
            padding: 0 1rem;
        }

    }

    .gith{
        background-color: black;
        height: auto;
        width: 30px;
        border-radius: 10rem;
        border: 2px solid #000;
        cursor: pointer;
        margin-right: .4rem;
    }
    .buttons_git{
        display: flex;
        align-items: center;
    }

    .card-project__buttons{
        background-color: white;
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: .5rem;
        box-sizing: border-box;
        height: 100%;
        margin-top: -.1rem;
        padding-bottom: 1.5rem;
        border-radius: 0 0 .8rem .8rem;
    }
}



@media screen  and (max-width:450px){
    .card-project__container{
        min-width: 90% !important;
        max-width: 90% !important;
    }
}



@media screen  and (min-width:450px) and (max-width:1150px){
    .card-project__container{
        min-width: 90% !important;
        max-width: 90% !important;
        margin: auto;
    }
}
