.card-project__container{
    width: 20vw;
    height: auto;
    z-index: 1000;
    background-color: lighten($color: #222831, $amount:15 );
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: .1;
    .card-project__view{
        width: 20vw;
        padding: .2rem;
        border-radius:1rem 1rem .3rem .3rem;
        box-sizing: border-box;
        
    }

    .gith{
        background-color: black;
        height: auto;
        width: 50px;
        border-radius: 10rem;
        cursor: pointer;
    }
}