.contact-form__container{
    width: 100%;
    height:95vh;
    margin: calc(15vh + 10rem) auto 5vh auto;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    top: 10rem;

    .animate-text{
        display: block;
    }
    form{
        width: 50%;
        height: 90%;
        justify-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 1rem;
        .animate-text{
            color:white;
            z-index: 10;
        }
        
        .contact-form__container__input{
            width: 90%;
            z-index: 100;
            input,textarea{
                width: 100% !important;
                height:6vh;
                border: none;
                outline: none;
                resize: none;
                font-family: "Inter", sans-serif;
                font-weight: 500;
                box-sizing: border-box;
                border-radius: .25rem;
                padding: 0 1rem;
            }

            textarea{
                padding: 1rem ;
                height: 10vh;
            }
        }
        button{
            z-index: 100;
        }
    }

    .captcha{
        z-index: 10 !important;
    }
}


.form__background{
    content: "";
    position: absolute;
    width: 50%;
    height: 90%;
    background-color: #393E46;
    z-index: 1;
    border-radius: .5rem;
    -webkit-box-shadow: 3px 6px 21px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 21px -7px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 21px -7px rgba(0,0,0,0.75);
}
.after{
    height: 0%;
    width: 100% !important;
    background-color: red;
    color: white;
    border-radius: 0 0 .5rem .5rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    transition: all .3s ease-in-out;
    color:rgb(0, 0, 0);
    font-size: 14px ;
    img{
        max-width: 25px;
        margin-right: .5rem;
    }
}

.after-show{
    width: 100%;
    color:#fff;
    padding:1.4rem 0 1rem 0;
    margin-top: -.5rem;

}


.contact-form__background{
    position: absolute;
    content: "";
    width: 45%;
    height: 75%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-color: #222831;
    z-index: 50;
    top: 10%;
    right: 2.5%;
    border-radius: .5rem;
    opacity: .95;
}

.contact-form__container__social-media{
    width: 50%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    .social-media__container{
        height: 30%;
        width: 90%;
        position: relative;

        .social-media___content{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            padding-left: 20%;
            cursor: pointer;

            img{
             z-index: 100;
             max-width: 80px;
             max-height: 80px;
             transition: all ease-in-out .5s;


            //  top: 50%;
            //  left: 5%;
            }        
            a{
                z-index: 100;
                color: #fff;
                font-family: "Inter", sans-serif;
                font-size: 1.2rem;
                font-weight: 300;
                margin-left: 2rem;
                transition: all ease-in-out .5s;

            }
        }

        .social-media__background{
            width: 100%;
            height: 100%;
            top: 0;
            background-color: #393E46;
            -webkit-box-shadow: 3px 6px 21px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 6px 21px -7px rgba(0,0,0,0.75);
            box-shadow: 3px 6px 21px -7px rgba(0,0,0,0.75);
            z-index: 1;
            border-radius: .5rem;

        }
    }
}

.social-media___content{
    width: 100%;
}
.transitionx{

    img{
        transform: translate(150%,-25%);
    }
    a{
        transform: translate(-20%,150%);

    }
}

.transition-email{
    img{
        transform: translate(150%,-25%);
    }
    a{
        transform: translate(-25%,150%);
    }
}


.contact-form__container__send{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;        
    padding: .5rem;
    box-sizing: border-box;
    border-radius:.5rem;
    border: none;
    cursor: pointer;
    img{
        max-width: 30px;
        margin-right: 1rem;
        transition: all ease-in-out 1s;
    }
    p{
        font-size: 1.1rem !important;
        font-family: "Inter", sans-serif;


    }



}

.move-plane {
    transform: translate(5rem, -5rem);
    opacity: .01;
}



@media screen and (max-width:1150px){
    .contact-form__container{
        flex-direction: column;
        position: relative;
        .contact-form__container__social-media{
            width: 100%;

            .social-media__container{
                height: 20vh!important;
                margin-bottom: 6vh;
                .social-media___content{
                    flex-direction: column;
                    justify-content: center;
                    width: 50vw !important;
                    img{
                        margin-bottom: 2vh;
                    }
                }
            }

  
        }

        .contact-form__container__form{
            width: 100%;
            margin-top: 5vh;

        }
        .contact-form__background{
            top: 90vh !important;
            width: 86.5%;
            left: 6.5vw;
            height: 56%;
        }

        .form__background{
            width: 90%;
            top: 80vh;
            height: 75%;
        }
        .animate-text{
            margin-bottom: 5vh;
        }
  
        button{
            margin-top: 2vh;
            width:40%;
        }

    }
}

@media screen and (max-width:380px){
    .contact-form__container{
        .contact-form__background{
            top: 93vh !important;
        }
        .form__background{
            height: 83vh;
        }
    }
}