.navbar__container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    max-width: 1440px;
    height: 20vh;

    ul{
        justify-content: space-around;
        width: 65%;
        box-sizing: border-box;

    }
}

@media screen and (max-width:1150px) {
    .navbar__container{
        align-items: flex-start;
        justify-content: flex-end;
        height: 0;
        width: 100vw;
        z-index: 10000000;
        position: absolute;
        .menu-showed{
            position: absolute;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            z-index: 10000;
            width: 100vw;
            height: 100vh;
            -webkit-clip-path: circle(150% at 100% 0%);
            clip-path: circle(150% at 100% 0%);
            z-index: 10000000;
            li{
                display: block;
            }
        }


        ul{
            width: 100vw;
            height:100vh;
            position: absolute;
            transition: all .5s ease-in-out;
            -webkit-clip-path: circle(0% at 100% 0%);
            clip-path: circle(0% at 100% 0%);
            background-color: black;
            z-index: 10000;
            li{
                padding: 2rem;
                display: none;
            }
            .box{
                text-align: left;
            }
        }
    }


}

