.navbar__container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    padding: 0;
    max-width: 1440px;
    height: 10vh;
    ul{
        justify-content: space-around;
        margin: 1rem 2rem;
        width: 50%;

    }
}