.navbar__container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    max-width: 1440px;
    height: 20vh;

    ul{
        justify-content: space-around;
        width: 65%;
        box-sizing: border-box;

    }
}

@media screen and (max-width:1150px) {
    .navbar__container{
        position: absolute;
        z-index: 1000;
        left: 0;
        width: 95%;
        align-items: flex-start;
        justify-content: flex-end;
        height: 100%;
      
        ul{
            justify-content: flex-start;
            flex-direction: column;
            position: absolute;
            overflow: hidden !important;
            z-index: 1000;
            background-color: black;
            display: none;
            li{
                padding: 2rem;
            }
            .box{
                text-align: left;
            }
        }
    }
}

