// .projects-view-container{
//     height: 50vh;
//     z-index: 10000;
//     position: absolute;
//     left: 0;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     width: 100%;
//     max-width: 1440px !important;
//     background-color: beige;
// }

.projects-view-container{
    max-width: 1450px;
    margin: auto;
    z-index: 100;
    position: relative;
    top: 35vh;

    h2{
        font-size: 24px;
        text-align: center;
        color: darken($color: $light-grey, $amount: 20);
    }

    .projects-view__projects{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-between;
    }

}


@media screen  and (max-width:1190px){

    .projects-view-container{
        margin-top: -27vh;
        .projects-view__projects{
            
            row-gap: 4rem;
            column-gap: 1rem;
            grid-template-columns: auto;
            grid-template-rows: auto;
            align-content: center;
            justify-content: center;
        }

        .animate-text{
            margin-bottom: 5vh;
        }
    }



}

@media screen  and (min-width:550px) and (max-width:1150px){
    .projects-view-container{
        margin-top: 5rem;

    }
}

