// .projects-view-container{
//     height: 50vh;
//     z-index: 10000;
//     position: absolute;
//     left: 0;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     width: 100%;
//     max-width: 1440px !important;
//     background-color: beige;
// }

.projects-view-container{
    max-width: 1350px;
    margin: auto;
    z-index: 100;
    position: relative;
    top: 10rem;

    h2{
        font-size: 24px;
        text-align: center;
        color: darken($color: $light-grey, $amount: 20);
    }

    .projects-view__projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}


@media screen  and (max-width:1150px){

    .projects-view-container{
        margin-top: -27vh;
        .projects-view__projects{
            
            flex-direction: column;
            row-gap:  8vh;
        }

        .animate-text{
            margin-bottom: 5vh;
        }
    }



}

@media screen  and (min-width:550px) and (max-width:1150px){
    .projects-view-container{
        margin-top: 5rem;

    }
}

