*{
    margin: 0;
    padding: 0;
}


html,body{
    background-color: $dark-grey;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    li{
        margin: 5px;
        padding: 5px;
    }
}

a{
    text-decoration: none;    
    color:$light-grey;
}

.show-menu{
    overflow: hidden;
    height: 100vh;
    padding: 0;
    z-index: 100000000;
    position: absolute;
}

