.card-flip-container{
  top: 50%;   
  left: 50%;
  transform: translate(10%,10%) ;
  width: 5vw;   
  height: 10vh;
  border-radius: .5rem;
  transition: .5s;
  display: flex;
  cursor: pointer;

}
/* .card-flip-container:hover{
  transform: perspective(1000px) translate(-50%,-50%) rotateY(180deg);
} */
.card-flip-container img{
  display: inline-block;
  width: 100%;   
  height: 100%;
  border-radius: .5rem;
  backface-visibility: hidden; 
  transform: perspective(1000px) rotateY(0deg);
  transition: .5s; 
}
.card-flip-container:hover img{
  transform: perspective(1000px) rotateY(180deg);
}
.card-flip-container .content{
  position: absolute;
  top: 0;  left: 0;
  width: 100%;   
  height: 100%;
  border-radius: .5rem;
  backface-visibility: hidden;  
  transform: perspective(1000px) rotateY(-180deg);
  transition: .5s;
  color:$dark-grey;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;

}
.card-flip-container:hover .content{
  transform: perspective(1000px) rotateY(0);
  background-color: $light-grey;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.card-flip-container .content h1{
  color: #f00;
  text-align: center;   line-height: 530px;

}