@import url("https://rsms.me/inter/inter.css");

.animate-text  {
    font-family: "Inter", sans-serif;
  }
  
@supports (font-variation-settings: normal) {
.animate-text {
    font-family: "Inter var", sans-serif;
}
}


.animate-text h2 {
  font-variation-settings: "wght" 700, 'wdth' 100;
  animation: breath 2s infinite forwards;
  h2:hover {
    animation-play-state: paused;
  }
}


@keyframes breath {
  50% {
    font-variation-settings: "wght" 100, 'wdth' 60;
  }
  100% {
    font-variation-settings: "wght" 700, 'wdth' 100;
  }
}