.glitch
  {
    position: relative;
    width: 180px;
    height: 180px;
    background: url('../../../public/profile.jpg');
    background-size:cover; /* contain for split effect */
	border-radius: 10rem !important;

  }

.glitch:before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    background: url('../../../public/profile.jpg');
    background-size:cover; /* contain for split effect */
    opacity: .5;
    mix-blend-mode: hard-light;
    animation: glitch2 10s linear infinite;
	border-radius: 10rem !important;

  }

.glitch:hover:before
{
	animation: glitch1 1s linear infinite;
}

@keyframes glitch1
{
	0%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
	10%
	{
		background-position: 5px 0;
	}
	20%
	{
		background-position: 0px 0;
	}
	30%
	{
		background-position: -5px 1px;
	}
	40%
	{
		background-position: 0px 2px;
	}
	50%
	{
		background-position: 0px 0px;
	}
	60%
	{
		background-position:5px 1px;
	}
	70%
	{
		background-position: -0px 0px;
	}
	80%
	{
		background-position: 0px 0px;
	}
	81%
	{
		background-position: -5px 2px;
	}
	100%
	{
		background-position: 0 0;
		filter: hue-rotate(360deg);
	}
}

@keyframes glitch2
{
	0%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
	10%
	{
		background-position: 15px 0;
	}
	15%
	{
		background-position: -15px 0;
	}
	20%
	{
		filter: hue-rotate(360deg);
	}
  25%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
  100%
	{
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}
}