.Javascript,.Sass,.Css,.HTML,.React,.Redux,.Node,.Nextjs,.Expressjs,.Firebase{
    padding: .2rem .4rem;
    border-radius: .5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    img{
        height: 25px;
        margin-right: .2rem;
    }
}

.Javascript{
    background-color: rgba(234, 234, 10, 0.671);
    border-radius: .5rem;
    img{
        border-radius: .2rem;
    }
}

.Sass{
    background-color: hsla(330, 46%, 58%, 0.694);
}

.Css{
    background-color: hsla(228, 73%, 51%, 0.701);
}
.HTML{
    background-color: hsla(12, 81%, 49%, 0.772);
}
.React{
    background-color: hsla(192, 95%, 68%, 0.642);
}
.Firebase{
    background-color: #f7a20fba;
}

.Redux{
    background-color: #764abcb1;
}

@media screen  and (max-width:375px){
    .Javascript,.Sass,.Css,.HTML,.React,.Redux,.Node,.Nextjs,.Expressjs,.Firebase{
        img{
            height: 20px !important;
        }
    }
    p{
        font-size: 12px !important;
    }
}